.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
    display: block!important;
    background: rgba(0,0,0,0.3);
    text-shadow: 0 0 10px white;
    color: black;
}
